# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
%matplotlib inline
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Analysis of Variance

In this part of the lesson, we will perform an analysis of variance to determine whether the factors in our model create a significant difference in the group means. We will be examining a dataset of FIFA players. We'll start by loading the data using the code in the cell below.

In [2]:
# Run this code:
fifa = pd.read_csv('fifa.csv')

In [3]:
fifa.describe()

,Age,Overall,Potential,Weak Foot,Acceleration,SprintSpeed,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties
count,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,25.122206,66.238699,71.307299,2.947299,64.614076,64.726967,63.219946,65.311967,47.109973,55.868991,46.698276,49.958478,53.400903,48.548598
std,4.669943,6.908930,6.136496,0.660456,14.927780,14.649953,15.894741,12.557000,19.260524,17.367967,20.696909,19.529036,14.146881,15.704053
min,16.000000,46.000000,48.000000,1.000000,12.000000,12.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000
25%,21.000000,62.000000,67.000000,3.000000,57.000000,57.000000,56.000000,58.000000,33.000000,44.000000,26.000000,38.000000,44.000000,39.000000
50%,25.000000,66.000000,71.000000,3.000000,67.000000,67.000000,66.000000,67.000000,51.000000,59.000000,52.000000,55.000000,55.000000,49.000000
75%,28.000000,71.000000,75.000000,3.000000,75.000000,75.000000,74.000000,74.000000,62.000000,69.000000,64.000000,64.000000,64.000000,60.000000
max,45.000000,94.000000,95.000000,5.000000,97.000000,96.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,92.000000

Let's examine the dataset by looking at the `head`.

In [4]:
# Your code here:
fifa.head(2)

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,Acceleration,SprintSpeed,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,91.0,86.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,89.0,91.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0

Player's values are expressed in millions of euros. We would like this column to be numeric. Therefore, let's create a numeric value column. Do this by stripping all non-numeric characters from each cell. Assign this new data to `ValueNumeric`. There is no need to multiply the value to be expressed in millions.

In [5]:
#Idea de Ramiro ##No correr
# fifa2 = fifa
# fifa2["ValueNumeric"] = fifa2["Value"].str.replace("€", "").str.replace("M","").str.replace("K","").astype(float)
# fifa2.head(3)

In [6]:
import re

In [7]:
#Nuestra idea
f = lambda x : re.sub(r'(€|M|K)','',str(x)) #esto esta mal porque ahora se confunden los miles y los millones
fifa['ValueNumeric'] = fifa['Value'].apply(f) #apply aplica la función f a todo lo de la columna 'Value'
fifa.ValueNumeric = pd.to_numeric(fifa.ValueNumeric) #Cambiar a float el valor de los jugadores
fifa.head(3)

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,...,SprintSpeed,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,ValueNumeric
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,...,86.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,110.5
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,...,91.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,77.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,Right,LW,5.0,...,90.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,118.5

In [8]:
#verificamos el tipo de variables
fifa.dtypes

Name               object
Age                 int64
Nationality        object
Overall             int64
Potential           int64
Club               object
Value              object
Preferred Foot     object
Position           object
Weak Foot         float64
Acceleration      float64
SprintSpeed       float64
Stamina           float64
Strength          float64
LongShots         float64
Aggression        float64
Interceptions     float64
Positioning       float64
Vision            float64
Penalties         float64
ValueNumeric      float64
dtype: object

In [9]:
#Idea completa para asignar miles y millones
#animals[animals.animal.str.contains('bat')]
#fifa[fifa.Value.str.contains('K')] es un dataframe para los que ganan en miles

g = lambda x : re.sub(r'(€|K)','',str(x)) #esto solo quita € y la K
fifa['ValueMiles'] = fifa[fifa.Value.str.contains('K')].Value.apply(g)

h = lambda x : re.sub(r'(€|M)','',str(x)) #esto solo quita € y la M
fifa['ValueMillones'] = fifa[fifa.Value.str.contains('M')].Value.apply(h)

In [10]:
fifa.tail(2)

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,...,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,ValueNumeric,ValueMiles,ValueMillones
18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,Right,RW,3.0,...,48.0,34.0,33.0,22.0,44.0,47.0,50.0,60.0,60,NaN
18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,Right,CM,3.0,...,60.0,32.0,56.0,42.0,34.0,49.0,33.0,60.0,60,NaN

In [11]:
# 1. Necesitamos rellenar los NaN como cero.
# 1.5 Pasar el type de las columnas a float
# 2. Multiplicar los miles por 1000 y los millones por 1000000
# 3. Sumar las dos columnas en una para poder hacer la estadística que sigue

fifa.ValueMiles.fillna(0, inplace=True) 
fifa.ValueMillones.fillna(0, inplace=True)  #Pero estas columnas todavía son type object

In [12]:
fifa.ValueMiles = pd.to_numeric(fifa.ValueMiles)
fifa.ValueMillones = pd.to_numeric(fifa.ValueMillones)

In [13]:
fifa.ValueMiles = fifa.ValueMiles * 1000
fifa.ValueMillones = fifa.ValueMillones *1000000

In [15]:
fifa.head(2)

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,...,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,ValueNumeric,ValueMiles,ValueMillones
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,...,59.0,94.0,48.0,22.0,94.0,94.0,75.0,110.5,0,110500000.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,...,79.0,93.0,63.0,29.0,95.0,82.0,85.0,77.0,0,77000000.0

In [ ]:
#Exito :)

#### We'd like to determine whether a player's preffered foot and position have an impact on their value. 

Using the `statsmodels` library, we are able to produce an ANOVA table without munging our data. Create an ANOVA table with value as a function of position and preferred foot. Recall that pivoting is performed by the `C` function.

Hint: For columns that have a space in their name, it is best to refer to the column using the dataframe (For example: for column `A`, we will use `df['A']`).

In [ ]:
#Importamos las bibliotecas necesarios
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
#Cambiemos el nombre de la columna Preferred Foot
fifa.rename(columns={'Preferred Foot':'Preferred_foot'}, inplace=True)

In [ ]:
model = ols('Value ~ C(Preferred_foot) + C(Position)', data=fifa).fit() # C es la función que hace el pivote interno
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

What is your conclusion from this ANOVA?

In [ ]:
# Your conclusions here:
'''
Respecto al pie preferido hay 2 grados de libertad y el p value es 0.35 > 0.05 lo cual lo hace insuficiente para ser significativo estadśiticamente
Respecto a la posición el p-value es mucho menor que 0.05 por lo cual sí tiene significancia estadística la posición en la que se juegue
'''

After looking at a model of both preffered foot and position, we decide to create an ANOVA table for nationality. Create an ANOVA table for numeric value as a function of nationality.

In [ ]:
# Your code here:
model2 = ols('Value ~ C(Nationality)', data=fifa).fit() # C es la función que hace el pivote interno
anova_table = sm.stats.anova_lm(model2, typ=2)
anova_table

What is your conclusion from this ANOVA?

In [ ]:
'''
En este caso el p-value también es mucho más pequeño que 0.05 por lo que rechazamos la hipótesis nula de que la nacionalidad sí tiene que ver
'''

# Challenge 2 - Linear Regression

Our goal with using linear regression is to create a mathematical model that will enable us to predict the outcome of one variable using one or more additional independent variables.

We'll start by ensuring there are no missing values. Examine all variables for all missing values. If there are missing values in a row, remove the entire row.

In [ ]:
# Your code here:
from scipy.stats import linregress

In [ ]:
fifa4 = fifa
# fifa4 = fifa4[fifa4.isna().sum(axis=1) == 0] forma super eficiente de borrar las columnas

In [ ]:
fifa4

In [ ]:
fifa4.drop(columns=['Club','Preferred_foot','Position','Weak Foot','Acceleration', 'SprintSpeed','Stamina','Strength','LongShots','Aggression', 'Interceptions','Positioning','Vision','Penalties'], inplace=True)

In [ ]:
fifa4.head(1)

Using the FIFA dataset, in the cell below, create a linear model predicting value using stamina and sprint speed. create the model using `statsmodels`. Print the model summary.

Hint: remember to add an intercept to the model using the `add_constant` function.

In [ ]:
#Esto no debería estar aquí, pero lo pongo para probar
fifa = pd.read_csv('fifa.csv')
fifa["ValueNumeric"] = fifa["Value"].str.replace("€", "").str.replace("M","").str.replace("K","").astype(float)

In [ ]:
# Your code here:
X = sm.add_constant(fifa[['SprintSpeed', 'Stamina']])
Y = fifa.ValueNumeric

model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print(model.summary())

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [ ]:
# Your conclusions here:

Next, create a second regression model predicting value using potential. Create the model using `statsmodels` and print the model summary. Remember to add a constant term.

In [ ]:
# Your code here:

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [ ]:
# Your conclusions here:

Plot a scatter plot of value vs. potential. Do you see a linear relationship?

In [ ]:
# Your code here: